<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487530903081-59e0e3331512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=500;">
  <div class="container">
    <h1>Welcome To My Garden</h1>
    <div class="button">
      <a class="take-a-tour-btn" href="/items">TAKE A TOUR</a>
    </div>
  </div>
</div>
  <div class="container-about">
    <div class="about-photo">
      <%= image_tag ("dad-profile-pic.jpeg"), class: "float-left"%>
    </div>
    <div class="text">
    <p>As a young boy I was enchanted by watching plants grow.
    When I was 10 years old I saved up my quarters until I had enough to buy tomato seeds that were advertised in my comic book.
    I remember how excited I was when they arrived in the mail. I rushed out to my backyard and planted them as quickly as I could. Every day for the next 2 months I nurtured the growing plants.
    10 scraggly plants sprouted and grew but only bore 4 tomatoes.
    Still I was hooked.
    To this day I marvel at how plants grow day by day.
    I started planning my current garden 23 years ago when my wife and I and our 3 children moved into our first and only house that we bought.
    I wanted to create my own personal botanical garden that would contain as many varieties of plants as possible with a shifting display from week to week.
    It has been a labor of love and has provided me with thousands of hours that nourish my soul.
    I am pleased to be able to share my garden with the world now through this site.</p>
    </div>
  </div>
 <div class="container quotes">
  <div class="quote-section">
    <div class="quote-card">
      <img src="https://images.unsplash.com/photo-1572085313466-6710de8d7ba3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <p>Life begins the day you start a garden</p>
    </div>

    <div class="quote-card">
      <img src="https://images.unsplash.com/photo-1559749284-7a6971fd798e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <p>If you’ve never experienced the joy of accomplishing more than you can imagine, plant a garden</p>
    </div>

    <div class="quote-card">
      <img src="https://images.unsplash.com/photo-1558293842-c0fd3db86157?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <p>Gardening adds years to your life and life to your years</p>
    </div>
  </div>
</div>
