<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487530903081-59e0e3331512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=500;">
  <div class="container">
    <h1>Welcome To My Garden</h1>
    <div class="button">
      <a class="take-a-tour-btn" href="/items">TAKE A TOUR</a>
    </div>
  </div>
</div>
  <div class="container-about">
    <p>Welcome to our beautiful garden! This is a place to share all of the updated photos of our magnificant and magical garden. We've been plating and building this oasis for the last 20 years. We have two pergolas, bird baths, 20 different types of flowers, plants and veggies.</p>
  </div>
 <div class="container quotes">
  <div class="quote-section">
    <div class="quote-card">
      <img src="https://images.unsplash.com/photo-1572085313466-6710de8d7ba3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <p>Life begins the day you start a garden</p>
    </div>

    <div class="quote-card">
      <img src="https://images.unsplash.com/photo-1559749284-7a6971fd798e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <p>If you’ve never experienced the joy of accomplishing more than you can imagine, plant a garden</p>
    </div>

    <div class="quote-card">
      <img src="https://images.unsplash.com/photo-1558293842-c0fd3db86157?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <p>Gardening adds years to your life and life to your years</p>
    </div>
  </div>
</div>
