.quotes {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.quote-section {
  display:flex;
  justify-content: space-around;
}

.quote-card {
  width: 320px;
  box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  img {
    width: 280px;
    border-radius: 8px;
    height: 300px;
    margin-bottom: 16px;
  }
  p {
    margin: 0;
  }
}

.plant-cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 16px;
  flex-grow: 1;
}

.card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.plant-card {
  position: relative;
  padding: 8px;
  margin: 16px 24px;
  background-color: white;
  box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 304px;
}
